<style>

body
{
background-color:#1A0000;
}

.calculator
{
background-color:#001A33;
height:547px;
width:350px;
border-radius:10px;
position:relative;
top:50px;
align-content:center
}

input
{
width:325px; 
height:45px; 
text-align:right; 
font-family:"Arial Rounded MT Bold";
font-size:28px; 
margin-top:20px;
text-wrap:normal;
padding:5px;
font-weight:bold;
}

button
{
height:34px; 
font-family:"Arial Rounded MT Bold";
font-weight:bold;
background-color:#99FF66;
width:70px; 
border-radius:5px;
margin:5px;
font-size:22px;
border-color:#00050A;
}

</style>
